# Auto detect text files and perform LF normalization
* text=auto

# PHP files
*.php text eol=lf
*.json text eol=lf

# SQL files
*.sql text eol=lf

# Web files
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.md text eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary
*.ico binary
*.webp binary

# Fonts
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary

# Archives
*.zip binary
*.tar binary
*.gz binary
